#tab-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#acting img {
    height: 18em;
}
#modeling img {
    height: 20em;
}

#digital-art img {
    height: 25em;
}


#pixel-art {
    height: 3em;

}